#sidebarMenu{
    height: 1200px;
}

.SideMenuPosition{
    margin-top: 20px;
}

.list-bg{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.font-style{
    text-decoration: none;
    color: black;
}

.font-style.active {
    font-weight: bolder;
    border-bottom: 3px outset rgba(0, 0, 0, 0.932); 
    background-color: rgba(104, 137, 255, 0.121);
    border-radius: 4px;
}

.dashbord-icon{
    height: 35px;
    padding: 5px;
}

