.user-side-menu-bg{
    background-color: rgba(104, 137, 255, 0.121);
    border-width: 1px;
    height: 650px;
    margin-top: -50px;
    border-width: 1px;
    border-style: ridge;
}

.highlighted {
    background-color: #000000;
    color: white;
    border-radius: 10px;
}

.mouse-hand{
    cursor: pointer;
}


.dashbord-bg{
    background-color: rgba(104, 137, 255, 0.121);
    border-radius: 10px;
    height: 550px;
    width: 1100px;
    margin-bottom: 50px;
    
}

.dashbord-bg-sizeBig{
    background-color: rgba(104, 137, 255, 0.121);
    border-radius: 10px;
    height: 550px;
    width: 1000px;
    margin-bottom: 50px;
    
}